<header class="flex items-center justify-between px-10 py-5 border-b-2 border-neutral-900 mb-10">
    <div class="text-xl font-semibold">
        <%= link_to "eHealth", root_path %>
    </div>
    <nav class="flex items-center gap-10 text-xl">
        <%= link_to "hospitals", hospitals_path, class: "hover:underline" %>
    </nav>
</header>